fastapi
uvicorn>=0.23.2
chromadb
tavily-python
logging
langchain==0.2.17
langchain-core>=0.2
langchain-ollama
langchain-openai
langchain-chroma
langgraph==0.2.69
redis-py
python-dotenv
pydantic>=2.5
ddgs
tavily-python
rstr
redis